body {
    background-color:lightgray;
}

fieldset {
    border: none;
}

header {
    color: white;
    font-size: 30pt;
    font-family: 'Sacramento', cursive;
}


form {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#blog-output {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    opacity: 0.5;
    margin: 50px;
}
